/* body {
    padding: 0; 
    margin: 0;
    display: flex;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    background: #e9d4aa;
}





.container {
    width: 100%;
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: left;
    -webkit-moz-items: left;
    align-items: left;
    -webkit-justify-content: left;
    -moz-justify-content: left;
    justify-content: left;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    align-content: flex-end;   
}

.left-panel {
    width: 70%;
}

.right-panel {
    width: 30%;
}

.card-item{
    transform: scale(0.8);
    display: inline-block;
    display: box;
    width: 25%;
    height: min-content;

    position: relative;
    top: 0;
    left: 0;
}




#center-logo {
    transform: scale(0.8);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
} */

/* ---------------------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    background: #888;
    color: #000000;
}

#app {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: #888;
}

.middle {
    padding-top: 100px;
    display: flex;
    width: 100%;
    min-height: 500px;    
}

.left-panel {
    width: 70%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("https://d2vkoy1na2a6o6.cloudfront.net/images/ui/parchment-f5126a8249a32eb235b139078b4cc13b5fb9d2c29b0e825569312681123d721a1f2e1addb4bad78f979933e561361e2ee2c5f5881ab4fef5385c66c6276c3b44.jpg");
}

.right-panel {
    width: 24%;   
    height: calc(100vh - 194px);
    top: 100px;
    right: 10%;
    position: fixed; 
    
}

.deck-menu {
    /* background-image: url("https://d2vkoy1na2a6o6.cloudfront.net/images/nav/newNav/sidebar_bg-c8baba20aa1d1644a4e7280e7dbe30240e29a0ce0bd239f758aabc8ab6548fa83bc276c10454f21266c0f1e63c8a68a487d706e5cb808a9f788c85278e488f0a.png"); */
    background-image: url("https://d2vkoy1na2a6o6.cloudfront.net/images/nav/newNav/dropdown-706c3aa7ad824abbd8733023a5a64dc463ebf84063e7cbe0da0236f225ed6eaea8579af3066757677cd00874cf7ff686781362c025a24ccb8a7c16a95bd55dc1.png");
    background-size: cover;
    padding-top: 25%;
    overflow-y: scroll; 
    height: 100%;
    background-repeat:initial;

}

.element {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.list-elem {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    position: relative;
    top: 0;
    left: 0;
    font-family: roboto montserrat sans-serif; 
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    transform: scale(1.3); 
    background: #2b2829de ;
    border-radius: 100%;
    color: white;
}

.list-elem-cost {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 10px;
    left: 20px;
}

.list-elem-name {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
/* .list-elem-middle-item {
    transform: scale(3,1);
} */

.top {
    display: inline-flex;
    width: 80%;
    height: 100px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/bg_filter_middle_tile-907853600f2b8dc11ae3acca94ff309f58b4959f380a6995e1b69b2d94f4bae5811b3ec588d56290599d59ddf6d00f0ce3fa9087c08ee8f7eabe843ed3646f9d.jpg");
}

.top-logo {
    height: "100px"
}


h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

h2 {
    
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
}

.heroes {
    padding-top: 100px;
    padding-bottom: 10%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("https://d2vkoy1na2a6o6.cloudfront.net/images/ui/parchment-f5126a8249a32eb235b139078b4cc13b5fb9d2c29b0e825569312681123d721a1f2e1addb4bad78f979933e561361e2ee2c5f5881ab4fef5385c66c6276c3b44.jpg");
}

.hero-item{
    display: inline-block;
    display: box;
    width: 25%;

    position: relative;
    top: 0;
    left: 0;
    
}

.hero-image {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 70%;
    display: block;
}

.hero-image:hover + .hero-image2{
    visibility: visible;
}

.hero-image2 {
    width: 70%;
    visibility: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.hero-image2:hover {
    visibility: visible;
}

.back-button {

}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffd601;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d5b201;
  }

/* BUTTON */
  .hs-wrapper.gold {
    background-color: #d8be52;
    background: linear-gradient(to bottom,
        #d8be52,
        #a77d33 9%,
        #5f3f1d 93%,
        #1c140d);
    border-top: 2px solid #d8be52;
    border-bottom: 2px solid #1c140d;
}

.hs-button.gold {
    background: linear-gradient(to bottom,
        #6f5742,
        #81615d);
}

.hs-text.gold {
    background: radial-gradient(circle,
        #edca37 25%,
        #a77d33 75%,
        #5f3f1d);
}

.hs-border.gold {
    background-color: #a77d33;
    box-shadow: 0px 2px 6px 0px #362c26;
    background: linear-gradient(to bottom,
        #d8be52,
        #d5b631 5%,
        #5f3f1d 59%,
        #362c26);
}

.hs-border:hover .hs-text.gold{
    background: radial-gradient(circle,
        #fed83b 22%,
        #dba23e 83%,
        #9d6224);
}
